@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: orange;
    --black: black;
    --skyblue: #01ACFD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
}

body {
    font-family: "Quicksand", serif;
}
.content-width{
    max-width: 1160px;
    margin: 0 auto;
}

/* Shared CSS */
.display-flex {
    display: flex;
    align-items: center;
}

.all-h3 {
    font-size: 2.9rem;
    font-weight: bold;
    color: #000000;
    line-height: 57.5px;
}

.all-p {
    font-size: 1.25rem;
    color: black;
}

.all-h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}

.secondary-button {
    padding: 10px 24px;
    background: black;
    display: inline-block;
    border-radius: 12px;
}

.display-none {
    display: none;
}

.card {
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    
}
 hr{
height: 3px;
background-color: var(--orange);
border: none;
}

/* Header Part */
.nav-container {
    justify-content: space-between;
    margin: 20px 0;
}

.nav-logo {
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.nav-items ul {
    gap: 20px;
}

#first {
    color: orange;
}

#second {
    color: #01ACFD;
}

#third {
    color: #05D4DF;
}

#fourth {
    color: #5D58EF;
}

.button {
    padding: 10px 60px;
    background-color: orange;
    border-radius: 12px;
}

.button > a {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

.text-center {
    text-align: center;
}

/* Banner Part */


.banner-container {
    gap: 50px;
}

.banner-text {
    max-width: 640px;
}

.banner-text h1 {
    font-size: 3.6rem;
    font-weight: bold;
    
}

.first {
    color: var(--orange);
}

.second {
    color: var(--skyblue);
}

.banner-text>p {
    margin: 24px 0;
}

.banner-text .enroll a {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
    color: #FFFFFF;
}


/* curriculum-container */
.curriculum{
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum-container {
    padding: 60px 0;
}

.curriculum-card {
    gap: 30px;
    margin: 80px 0;
}

.card > p {
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 28px;
    color: #808080;
}

.kinder-card {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.kinder-card a {
    color: #64C8FF;
}

.elementary-card {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.elementary-card a {
    color: #F0AA00;
}

.middle-card {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.middle-card a {
    color: #8700FF;
}
.arrow-icon {
    /* background-color: red;
    display: inline-block; */
    gap: 30px;
    justify-content: center;

}
.arrow-icon .left{
    display: inline;
    padding: 18px 23px 20px 23px;
    background-color: var(--orange);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* ------------------------Stories------------------------------- */
.stories{
    padding: 60px 0;
}
.stories img{
    width: 100%;
}
.stories-image-card {
    gap: 20px;
    align-items: normal;
}
.left-card > h5 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 38px;
    color: #000000;
}
.right-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: normal; */
    
}

/* ----------------------Footer-------------------------- */
.footer{
    background-color: #01ACFD;
    width: 100%;
    color: #FFFFFF;
}
.footer-container{
    align-items: normal;
    justify-content: space-between;
    padding: 125px 0 170px 0 ;
}
.footer-description{
    max-width: 400px;
}
.nav-logo{
justify-content: left;
}
.nav-logo p {
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 40px;
}


.about-school{
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.school-feature{
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.school-feature a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.footer-logo{
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}
.footer-description > p{
font-size: 20px;
margin-top: 35px;
}
.footer-logo h6, .about-school h6{
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
}
.logo-image{
    margin-top: 32px;
}
.logo-image img{
    margin-left: 10px;
}






/* Responsive */

@media screen and (max-width:576px) {

    .nav-logo>p,
    .nav-items,
    .button,
    .arrow-icon {
        display: none;
    }
    /* .menu-icon{
        display: unset;
    } */
   .display-none{
    display: block;
   }
    .nav-container {
        align-items: center;
        margin: 12px 16px;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .banner-image img {
        width: 90%;
        margin: 20px 10px 0px 10px;
    }

    .banner-text h1 {
        font-size: 2rem;
        font-weight: bold;

    }

    .banner-text > p {
        margin-bottom: 28px;
        font-size: .9rem;
        font-weight: 500;
    }

    .enroll {
        padding: 16px 24px;
        border-radius: 8px;
    }
    .curriculum-card{
        flex-direction: column;
    }
    .curriculum-container>h3{
        font-size: 1.6rem;
    }
    .curriculum-card{
        margin: 20px 0;
        width: 90%;
        margin: auto;
        
    }
    .curriculum-container {
        padding: 40px 0;
    }
    .footer-container {
        flex-direction: column;
        gap: 32px;
    }
    .about-school{
        gap: 27px;
    }
    .school-feature{
        gap: 17px;
    }
   .footer-container{
    padding: 60px 16px;
   }
}